<%= form_tag do %>
<fieldset>
  <legend>Enter your username and password</legend>

  <div>
    <label for="name">Name:</label>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div>
    <label for="password">Password:</label>
    <%= password_field_tag :password, params[:password] %>
  </div>

  <div>
    <%= submit_tag "Login" %>
  </div>
</fieldset>
<% end %>
