<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Goodbye from Fitbit Analyzr, <%= @user.email %></h1>
    <p>
      Your account and all your data has been deleted from the database.
      If you want to come back, you'll have to register and import your data again.
    </p>
    <p>Thanks for using the application and have a great day!</p>
  </body>
</html>
