<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Fitbit Analyzr, <%= @user.email %></h1>
    <p>
      You have successfully registered at <strong>Fitbit Analyzr</strong>.
      Your login is <strong><%= @user.email %></strong>.
    </p>
    <p>
      To login to the site, just <%= link_to 'click here', @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
