<h2>Before you register</h2>

<p>Thanks for your interest. Before you register, I want to say that this application is under development and may often change the look and the way it works. Your data might get lost, but will never be deleted on <a href="http://www.fitbit.com/">fitbit.com</a>. This application will not update any of your data and is only a way to analyze the existing data you've logged on <a href="http://www.fitbit.com/">fitbit.com</a>.</p>

<%= link_to 'Create account', new_registration_path %>
