<h1>Privacy</h1>

<ul>
<li>I'm working on this page by myself. You can read my blog at <a href="http://blog.kopis.de/">blog.kopis.de</a> (sorry, German only) to check if I'm a real person.</li>
<li> I don't sell your data or try to track you on other sites except this one - and I use a self-hosted installation of <a href="http://piwik.org/">Piwik</a> for my tracking.</li>
<li>If you delete your account, all your data will be deleted.</li>
<li>I don't use your Fitbit data for other purposes than showing it to you on this site.</li>
</ul>

<p>If you have questions, you can <%= link_to 'contact', contact_path %> me.</p>
