<div id="import-<%= import.date %>"></div>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<script type="text/javascript">
google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
  var options = {'title':'Weight over time'};
  var chart = new google.visualization.LineChart(document.getElementById('import-<%= import.date %>'));
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Date');
  data.addColumn('number', 'Weight');
  var d = <%= import.data.html_safe %>;
  for(var row in d["body-weight"]) { 
    data.addRow([d["body-weight"][row]["dateTime"], parseFloat(d["body-weight"][row]["value"])]);
    chart.draw(data, options);
  }
}
</script>

