<div id="sleep-graph"></div>
<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: { renderTo: 'sleep-graph', type: 'line' },
         title: { text: 'Sleep over time' },
         xAxis: { type: 'datetime' },
         yAxis: { title: { text: 'Hours' } },
         series: [{
            name: 'In Bed',
            data: [<%
sleeps.each do |sleep|
  if not sleep.timeInBed.blank?
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.timeInBed*10/6/100.0 %>],<%
  end
end %>]
         },{
            name: 'Asleep',
            data: [<%
sleeps.each do |sleep|
  if not sleep.minutesAsleep.blank?
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesAsleep*10/6/100.0 %>],<%
  end
end %>]
         }]
      });
   });
</script>
