<div id="sleep-graph"></div>
<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: { renderTo: 'sleep-graph', type: 'line' },
         title: { text: 'Sleep over time' },
         xAxis: { categories: ['Duration', 'Asleep'] },
         yAxis: { title: { text: 'Hours' } },
         series: [{
            name: 'Duration',
            data: [<% sleeps.each do |sleep| %><%= sleep.duration*10/360000/100.0 %>,<% end %>]
         },{
            name: 'Asleep',
            data: [<% sleeps.each do |sleep| %><%= sleep.minutesAsleep*10/6/100.0 %>,<% end %>]
         }]
      });
   });
</script>
