<div id="measurement-graph"></div>
<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: { renderTo: 'measurement-graph', type: 'line' },
         title: { text: 'Measurements over time' },
         xAxis: { categories: ['Weight'] },
         yAxis: { title: { text: 'kg' } },
         series: [{
            name: 'Weight',
            data: [<% measurements.each do |measurement| %><%= measurement.weight %>,<% end %>]
         }]
      });
   });
</script>
